*{
    margin:0;
    padding:0;
}
body {
    font-family: Helvetica, sans-serif;
    text-align: center;
    font-size: 50;
    overflow-x: hidden;
    max-width: 100%;
    background-color: #f7fcfc;

}
.header{
    position:relative;
    width:100vw;
    height:100vh;
    background-image: url(../images/quiz-page-bg.png);
    background-size: cover;
    background-position: center;
}

svg{
    position:absolute;
    width:500px;
    height:500px;
    top:16%;
    right:5%;
}
.page-text{
    position: absolute;
    top:50%;
    left:25%;
    transform: translate(-50%,-50%);
    color:rgb(22, 51, 51);
    font-size: 350%;

}
.logo {
    position:absolute;
    z-index:100;
    left:45%;
    top: 5%;
}
.logo img{
    width:20%;
    height:10%;
}
@media only screen and (max-width:850px)
{
    svg{
        width:400px;
        height:400px;
        top:20%;
    }
}

@media only screen and (max-width:650px)
{
    svg{
        top:32%;
        right:8%;
    }
    .page-text{
        top:26%;
        left:50%;
    }
}
@media only screen and (max-width:450px)
{
    
    svg{
        width:350px;
        height:350px;
        top:36%;
        right:6%;
    }
}
@media only screen and (max-width:415px)
{
    
    svg{
        width:310px;
        height:310px;
        top:40%;
        right:6%;
    }
}
@media only screen and (max-width:374px)
{
    
    svg{
        width:310px;
        height:310px;
        top:41%;
        right:3%;
    }
}
@media only screen and (max-width:345px)
{
    
    svg{
        width:290px;
        height:290px;
        top:42%;
        right:2%;
    }
}
.menu{
    position: absolute;
    display:flex;
    z-index: 8;   
    top:30px;
    left:30px; 
    border: 2px double rgb(22, 51, 51);
    transition: all 0.5s;
}
.menu:hover{
    box-shadow: 0 0 10px rgb(22, 51, 51);
    border: 2px double rgb(22, 51, 51);

}
.bars .line-1,
.bars .line-2,
.bars .line-3{

    width:20px;
    height:3px;
    margin:4px;
    background-color:rgb(22, 51, 51);
    transition: all 0.5s;

}
.bars :hover{
    box-shadow: 0 0 10px rgb(22, 51, 51);
    background-color:rgb(22, 51, 51);

}

.menu-text{
    color: rgb(22, 51, 51);
    font-weight: bolder;
    font-size: 15px;
    padding:4px;
    transition:all 0.5s;
}
.menu-text:hover{
    text-shadow: 0 0 10px rgb(22, 51, 51);
    background-color: rgb(151, 214, 214);

}
.menu-page{
    position:absolute;
    width:100vw;
    height: 100vh;
    background-color: #051a1d;
    z-index:10;
    top:0;
    left:-4300px;
    transition: all 0.5s ease;
}
.container{
    display:flex;
    position:relative;
    flex-wrap: wrap;
}

nav li{
    list-style: none;
    padding:5px;
    margin-top:5px;
    margin-bottom:5px;
}
nav li a{
    text-decoration: none;
    color:white;
   font-size: 24px;
   font-weight:bolder;
}
.cross-button{
    position:absolute;
    display: flex;
    top:30px;
    left:30px;
    border:2px double white;
}
.cross-1,
.cross-2{
    width:20px;
    height:3px;
    margin:4px;
    background-color:white;
}
.cross-text{
    color: white;
    font-weight: bolder;
    font-size: 15px;
    padding:4px;
    transition: all 0.5s;
}
.cross-1 {
    transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-5px, 3px);
}
.cross-2{
    transform: rotate(45deg) translate(-2px, -1px);
}
.cross{
    
    padding:2px;
}
.cross-1,
.cross-2{
    transition: all 0.5;
}
.cross-1:hover,
.cross-2:hover{
    box-shadow: 0 0 10px rgb(22, 51, 51);

}
.cross-text:hover{
    text-shadow: 0 0 10px rgb(22, 51, 51);
    background-color: rgb(178, 241, 241);
}
.cross-button{
    transition: all 0.5s;

}
.cross-button:hover{
    box-shadow: 0 0 10px rgb(22, 51, 51);
}
.menu:hover{
    cursor: pointer;
}
.cross-button:hover{
    cursor: pointer;
}
.navigation{
    border-right:0.7px solid white;
    padding-right:100px; 
}
nav a{
    transition: all 0.5s;

}
nav a:hover{
    text-shadow: 0 0 10px rgb(22, 51, 51);
    color:rgb(166, 226, 226);
    text-decoration:underline;
}
.logo {
    position:absolute;
    z-index:100;
    left:45%;
    top: 5%;
}
.logo img{
    width:150px;
    height:70px;
}

.information span{
    color: rgb(158, 233, 233);
    font-weight: bold;
}
.information h1{
    color:white;
    margin-top:10px;
    margin-bottom:20px;
    text-align: left;
    font-size: 20px;
    font-weight: lighter;
}
.social {
    position: absolute;
    top:60%;
    left:1%
  }
  .social ul {
    padding: 5px;
    -webkit-transform: translate(-270px, 0);
    -moz-transform: translate(-270px, 0);
    -ms-transform: translate(-270px, 0);
    -o-transform: translate(-270px, 0);
    transform: translate(-270px, 0);
  }
  .social ul li{
      z-index: -1;
    display: block;
    margin: 4px;
    background: rgba(0, 0, 0, 0.36);
    width: 300px;
    text-align: right;
    padding: 10px;
    -webkit-border-radius: 0 30px 30px 0;
    -moz-border-radius: 0 30px 30px 0;
    border-radius: 0 30px 30px 0;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
  }
  .social ul li:hover {
    -webkit-transform: translate(110px, 0);
    -moz-transform: translate(110px, 0);
    -ms-transform: translate(110px, 0);
    -o-transform: translate(110px, 0);
    transform: translate(110px, 0);
    background: rgba(255, 255, 255, 0.4);
  }
  .social ul li:hover a {
    color: #000;
    text-shadow: 0 0 5px #051a1d;
    text-decoration: none;;
  }
  .social ul li:hover i {
    color: #fff;
    background: #051a1d;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
  }
  .social ul li i{
    margin-left: 30px;
    color: #000;
    background: #fff;
    padding: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 20px;
    background: #ffffff;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  .social a{
      font-size: 18px;
  }
  
  @import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
  
  a, a:hover {
      text-decoration: none;
  }
  
  .socialbtns, .socialbtns ul, .socialbtns li {
    margin: 0;
    padding: 5px;
  }
  
  .socialbtns li {
      list-style: none outside none;
      display: inline-block;
  }
  
  .socialbtns .fa {
      width: 40px;
      height: 28px;
      color: #000;
      background-color: #FFF;
      padding-top: 12px;
      border-radius: 22px;
      -moz-border-radius: 22px;
      -webkit-border-radius: 22px;
      -o-border-radius: 22px;
      transition: all 0.5s;
  }
  
  .socialbtns .fa:hover {
      color: #FFF;
      background-color: #051a1d;
  }
  .contain-menu-content{
    position:absolute;
    display: flex;
    flex-wrap: wrap;
    top: 30%;
    left:20%;
}
.information{
    margin-left:80px;
    margin-right:80px;
}
.navigation{
    text-align: left;
}

@media only screen and (max-width:924px)
{
    .contain-menu-content{
        top:22%;
        left:15%;
    }
    .information{
        margin-top:45px;
        margin-left:0px;
    }
    .navigation{
        border:none;
        padding-bottom:55px;
        border-bottom:1px solid grey;
    }
}
.card-page{
    width:100vw;
    height:160vh;
    background-color: #f7fcfc;
}

@media only screen and (max-width:805px)
{
    .card-page{
        height: 240vh;
    }
}
.card-start-text h1{
    color:  rgb(22, 92, 92);
    font-size: 40px;
    font-weight: bold;
    padding-top:40px;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width:80%;
    margin:auto;
    margin-top:50px;
    margin-bottom:50px;

}
.card{
    position: relative;
    width:300px;
    height:400px;
    border:1px double rgb(184, 184, 184);
    background-color: #ffffffce;
    margin-right:10px;
    margin-left:10px;
    margin-top:12px;
    margin-bottom:12px;
    transition: all 0.75s;
}
.card img{
    margin-top: 20px;
     width:250px;
    height:250px; 
    /*width:200px;
    height:200px; */
}
.card h1{
    font-family: sans-serif;
    color:rgb(33, 85, 85);
    text-align: left;
    font-size: 25px;
}
.card-information{
    max-width: 80%;
    margin:auto;
}
.card-information p{
    color:#88898a;
    margin-top: 10px;
    text-align: left;
}





.card a{
    font-weight: bolder;
}
.footer{
    width:100vw;
    height:100vh;
    background-image: url(../images/qiz-footer-bg.png);
    background-position: center;
    background-size: cover;
    padding-top:300px;
}

.contain-footer{
    display:flex;
    flex-wrap: wrap;
    width:70%;
    margin:auto;
    margin-top:50px;
    text-align: left;
    margin-bottom:40px;
}
.contain-footer h1{
    color: rgb(22, 92, 92);
    margin-bottom:15px;
}
.logo-footer{
    margin:10px 50px 30px 50px;
}
.logo-footer img{
    width:120px;
    height:100px;
}
.quick-links{
    margin:10px 50px 10px 50px;
    
}
.information-footer{
    margin:10px 50px 10px 50px;

}
.contain-footer li{ 
    padding:5px;
    padding-bottom:10px;
    transition: all 0.5s;
}
.contain-footer a{
    color: rgb(0, 58, 58);
}
.contain-footer li:hover{
    text-decoration: underline;
    color:#8b2e00;
}
.information-footer span{
    color:#0432477c;
    font-weight: bold;
    font-size: 20px;
}


@media only screen and (max-width:500px)
{
   .contain-footer{
    width:80%;
    margin-left:auto;
   }
   .copy-right{

    font-size: 10px;
    }

}
.information-footer p{
    color: rgb(0, 58, 58);
    margin-bottom:25px;
}
.footer p{
    color: rgb(0, 58, 58);

}
.copy-right{
    border-top:1px solid rgb(82, 82, 82);
    padding-top:40px;
    font-size: 15px;
}
.card-information h1:hover{
    text-decoration: underline;
}
.hidden {
    display:none;
}
.card-subject{
    overflow-y: scroll;
    position :absolute;
    top:-1px;
    left:-1px;
     width:300px;
     height:400px;
     border:1px double rgb(184, 184, 184);
     background-color: #ffffff;
}
.card-subject .chapter-button
{
    padding:5px;
    border:1px solid grey;
    width:250px;
    height:20px;
    margin:auto;
    margin-top:4px;
    margin-bottom:4px;
}
.close-modal {

    font-size: 2.5rem;
    color: rgba(51, 51, 51, 0.842);
    cursor: pointer;
    border: none;
    background: none;
}
.close-subject{
    display: flex;
    margin-left:200px;
}

.close-subject h4{
    margin-top: 13px;
    color: rgba(51, 51, 51, 0.842);
}
.chapter-card-1
.chapter-card-2
.chapter-card-3
.chapter-card-4
.chapter-card-5
.chapter-card-6
{
    transform:none;
}
